# .env

# Bot token
export DISCORD_BOT_TOKEN=discord_bot_token_here

# Channel IDs
EMBED_CHANNEL_ID=confession_embed_channel_id_here
POSTING_CHANNEL_ID=confession_posting_channel_id_here
MODERATOR_CHANNEL_ID=confession_moderation_channel_id_here

# File paths
PERSISTENCE_FILE=data/confession_data.json
ARCHIVE_FILE=data/processed_confessions.json

# Logging configuration
LOG_FILE=logs/bot.log
LOG_LEVEL=INFO
